[Desktop Entry]
Name=Tetravex
Name[bo_CN]=Tetravex
Comment=Complete the puzzle by matching numbered tiles
Comment[bo_CN]=སོ་ཕག་ཨང་ཡིག་སྡེབ་སྒྲིག་བྱས་པ་བརྒྱུད་ནས་རིས་བསྒྲིག་འགྲུབ་ཏུ་འཇུག་པ།
Keywords=game;logic;board;
Keywords[an]=chuego;lochica;tablero;
Keywords[be]=гульня;логіка;лагічная гульня;настольная гульня;
Keywords[bs]=igrica;logika;kartica;
Keywords[ca]=joc;lògica;tauler;
Keywords[ca@valencia]=joc;lògica;tauler;
Keywords[cs]=hra;logická;desková;
Keywords[da]=spil;logik;bræt;
Keywords[de]=Spiel;Logik;Brettspiel;
Keywords[el]=παιχνίδι;λογική;πίνακας;game;logic;board;
Keywords[es]=juego;lógica;tablero;
Keywords[et]=mäng;loogika;lauamäng;
Keywords[eu]=jokoa;logika;taula;
Keywords[fa]=بازی;منطق;تخته;
Keywords[fi]=game;logic;board;logiikka;lauta;peli;lautapeli;
Keywords[fr]=jeu;logique;plateau;
Keywords[gl]=xogo;lóxica;taboleiro;
Keywords[he]=משחק;הגיון;היגיון;לוח;
Keywords[hi]=game;logic;board;
Keywords[hu]=játék;logika;tábla;
Keywords[id]=permainan;logika;papan;
Keywords[it]=gioco;giochi;logica;board;tavola;
Keywords[ja]=game;logic;board;ゲーム;ロジック;論理;ボード;puzzle;パズル;
Keywords[kk]=ойын;логикалық;тақта;
Keywords[ko]=game;게임;logic;논리;로직;board;보드;
Keywords[lt]=žaidimas;logika;lenta;
Keywords[lv]=spēle;loģika;galdiņš;
Keywords[ml]=കളി;യുക്തി;പലക;
Keywords[nb]=spill;logikk;brett;
Keywords[pl]=gra;gierka;logiczna;logika;planszowa;plansza;
Keywords[pt]=jogo;lógica;tabuleiro;
Keywords[pt_BR]=game;jogo;jogos;lógica;tabuleiro;
Keywords[ru]=игра;логическая;настольная;
Keywords[sk]=hra;logická;stolová;logika;
Keywords[sl]=igra;logika;tabla;plošča;
Keywords[sr]=игра;логика;табла;
Keywords[sr@latin]=igra;logika;tabla;
Keywords[sv]=spel;logik;brädspel;
Keywords[ta]=விளையாட்டு;தர்க்கம்;பலகை;
Keywords[tr]=oyun;mantık;tahta;
Keywords[uk]=гра;логічна;настільна;
Keywords[zh_CN]=game;logic;board;游戏;逻辑;棋牌;
Keywords[zh_HK]=game;logic;board;遊戲;邏輯;桌面遊戲;
Keywords[zh_TW]=game;logic;board;遊戲;邏輯;桌面遊戲;
Exec=gnome-tetravex
Icon=gnome-tetravex
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;LogicGame;
StartupNotify=true
X-Ubuntu-Gettext-Domain=gnome-tetravex
