[Desktop Entry]
Name=Cheese
Name[bo_CN]=པར་རྒྱག་པ།
GenericName=Webcam Booth
X-GNOME-FullName=Cheese Webcam Booth
Comment=Take photos and videos with your webcam, with fun graphical effects
Comment[bo_CN]=ཁྱེད་ཀྱི་དྲ་རྒྱའི་བརྙན་མིག་སྤྱད་ནས་པར་དང་བརྙན་ལེན་པ། དེ་དང་འབྲེལ་ནས་སྤྲོ་བ་འཕེལ་བའི་རིས་དབྱིབས་སྣ་ཚོགས་མཁོ་འདོན་བྱེད།
Keywords=photo;video;webcam;
Keywords[an]=foto;video;camara web;
Keywords[ar]=photo;video;webcam;صورة;فديو;كمرة;
Keywords[as]=ফ'টো;ভিডিঅ';ৱেবকেম;
Keywords[be]=фота;фатаграфія;відэа;запіс;вэб-камера;сеціўная камера;
Keywords[bg]=фото;фотографии;снимки;видеоклипове;клип;камера;photo;video;webcam;
Keywords[bn_IN]=ফোটো;ভিডিও;ওয়েবক্যাম;
Keywords[bs]=fotografija;video;webkamera;
Keywords[ca]=foto;vídeo;càmera web;
Keywords[ca@valencia]=foto;vídeo;càmera web;
Keywords[cs]=fotka;fotky;snímek;snímky;video;webkamera;webová kamera;
Keywords[da]=billede;foto;video;webkamera;
Keywords[de]=Foto;Video;Webcam;Kamera;
Keywords[el]=φωτογραφία;βίντεο;ιστοκάμερα;δικτυακή κάμερα;photo;video;webcam;
Keywords[eo]=foto;fotilo;video;retkamerao;kamerao;
Keywords[es]=foto;vídeo;cámara web;
Keywords[et]=foto;video;veebikaamera;pildista;filmi;
Keywords[eu]=photo;video;webcam;
Keywords[fa]=عکس;ویدیو;وبکم;
Keywords[fi]=photo;video;webcam;valokuva;verkkokamera;web-kamera;
Keywords[fr]=photo;vidéo;webcam;
Keywords[fur]=foto;video;webcam;
Keywords[ga]=grianghraf;físeán;ceamara gréasáin;
Keywords[gl]=foto;vídeo;cámara web;
Keywords[gu]=ફોટો;વિડિઓ;વેબકેમ;
Keywords[he]=תמונה;צילום;מצלמה;וידאו;סרט;הקלטה;תצלום;
Keywords[hi]=photo;video;webcam;
Keywords[hu]=fénykép;videó;webkamera;
Keywords[id]=foto;video;webcam;
Keywords[is]=mynd;ljósmynd;myndskeið;vefmyndavél;
Keywords[it]=foto;video;webcam;
Keywords[ja]=photo;video;webcam;フォト;写真;ビデオ;動画;ウェブカム;ウェブカメラ;movie;ムービー;
Keywords[kk]=фото;видео;вебкамера;
Keywords[kn]=ಫೋಟೊ;ವೀಡಿಯೊ;ವೆಬ್‌ಕ್ಯಾಮ್;
Keywords[ko]=photo;사진;video;비디오;영상;webcam;웹캠;웹카메라;캠;
Keywords[lt]=fotografija;vaizdas;internetinė kamera;
Keywords[lv]=foto;video;tīmekļa kamera;
Keywords[ml]=photo;video;webcam;
Keywords[mr]=छायाचित्र;व्हिडीओ;वेबकॅम;
Keywords[nb]=foto;video;webkamera;
Keywords[ne]=तस्वीर;भिडियो;वेवक्याम;
Keywords[nl]=photo;foto;video;webcam;
Keywords[oc]=fòto;vidèo;webcam;
Keywords[or]=ଫୋଟୋ;ଭିଡ଼ିଓ;ୱେବକେମ;
Keywords[pa]=ਤਸਵੀਰ;ਫੋਟੋ;ਵਿਡੀਓ;ਵੈਬਕੈਮ;photo;video;webcam;
Keywords[pl]=zdjęcie;aparat;fotograficzny;fotografia;film;wideo;video;webcam;kamera;kamerka;efekty;
Keywords[pt]=fotografia;vídeo;webcam;
Keywords[pt_BR]=foto;fotos;vídeo;vídeos;webcam;
Keywords[ru]=фото;видео;веб-камера;
Keywords[sk]=fotka;fotografia;video;webová kamera;
Keywords[sl]=fotografija;video;spletne kamere;slike;posnetki;
Keywords[sr]=фото;видео;слике;снимак;веб камерица;
Keywords[sr@latin]=foto;video;slike;snimak;veb kamerica;
Keywords[sv]=foto;video;webbkamera;
Keywords[ta]=ஃபோட்டோ;வீடியோ;வெப்கேம்;
Keywords[te]=ఫోటో;వీడియో;వెబ్‌కామ్;
Keywords[tg]=вебкамера;видео;сурат;
Keywords[th]=ภาพถ่าย;วีดิทัศน์;เว็บแคม;
Keywords[tr]=fotoğraf;video;görüntü;web kamerası;
Keywords[ug]=photo;video;webcam;سۈرەت;سىن;توركامېرا;
Keywords[uk]=фото;відео;вебкамера;
Keywords[vi]=photo;chụp;chup;thu;ảnh;anh;video;quay;phim;phim;webcam;
Keywords[zh_CN]=photo;video;webcam;视频;摄像头;拍照;
Keywords[zh_HK]=photo;video;webcam;相片;影片;網絡攝影機;
Keywords[zh_TW]=photo;video;webcam;相片;影片;網路攝影機;攝像;
Exec=cheese
Terminal=false
Type=Application
StartupNotify=true
Icon=cheese
Categories=GNOME;AudioVideo;Video;Recorder;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=cheese
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.18.1
DBusActivatable=true
X-Ubuntu-Gettext-Domain=cheese
