[Desktop Entry]
Name=Font Viewer
Name[bo_CN]=ཡིག་གཟུགས་ལྟ་ཆས།
Comment=View fonts on your system
Comment[bo_CN]=རྒྱུད་ཁོངས་ཁྲོད་ཀྱི་ཡིག་གཟུགས་ལ་ལྟ་བ།
Keywords=fonts;fontface;
Keywords[af]=fonts;fontface;fonte;lettertipe;skriftipe;
Keywords[an]=fuents;tipografia;
Keywords[ar]=خط;خطوط;
Keywords[as]=fonts;fontface;
Keywords[be]=шрыфты;
Keywords[bg]=шрифт;глиф;букви;цифри;очертание;изчертаване;truetype;opentype;fonts;fontface;
Keywords[bn_IN]=ফন্ট;ফন্টফেস;
Keywords[br]=Nodrezhoù;Nodrezh;
Keywords[bs]=tip slova; izgled slova;
Keywords[ca]=tipus de lletra;tipografia;
Keywords[ca@valencia]=tipus de lletra;tipografia;
Keywords[cs]=fonty;písma;řezy;
Keywords[da]=skrifttyper;skrifttypefamilie;skrifttypefremtoning;
Keywords[de]=Schriftart;Schriftartschnitt;
Keywords[el]=γραμματοσειρές;οικογένεια γραμματοσειρών;fonts;fontface;
Keywords[eo]=tiparoj;tiparnomo;
Keywords[es]=tipografía;letra;tipo;
Keywords[et]=fondid;font;kirjatüüp;kirjatüübid;
Keywords[eu]=tipografia;letra-tipoak;letra;tipoa;
Keywords[fa]=قلم‌ها;نوع قلم;
Keywords[fi]=fonts;fontface;fontti;fontit;kirjasin;kirjasimet;
Keywords[fr]=polices;fontes;
Keywords[gd]=cruthan-clò;aodann crutha-clò;
Keywords[gl]=tipos de letra;fontface;
Keywords[gu]=ફોન્ટ;ફોન્ટફેસ;
Keywords[he]=גופנים;גופן;פונטים;גליפים;
Keywords[hi]=fonts;fontface;
Keywords[hu]=betűk;betűkészlet;
Keywords[id]=fonta;fontface;
Keywords[is]=Letur;Leturgerð;
Keywords[it]=carattere;caratteri;caratteri tipografici;tipo di carattere;
Keywords[ja]=fonts;fontface;フォント書体;
Keywords[kk]=қаріп;
Keywords[kn]=ಅಕ್ಷರಶೈಲಿಗಳು;ಅಕ್ಷರಶೈಲಿಗುಂಪು;
Keywords[ko]=fonts;글꼴;fontface;
Keywords[lt]=šriftai;šrifto peržiūra;
Keywords[lv]=fonti;šrifti;
Keywords[ml]=fonts;fontface;
Keywords[mr]=फाँट्स;फाँटफेस;
Keywords[nb]=skrifter;skrifttyper;
Keywords[ne]=फन्ट;फन्टफेस;
Keywords[nl]=fontface;lettertype;letter;font;typografie;
Keywords[oc]=poliças;fontas;
Keywords[or]=ଅକ୍ଷରରୂପ;ଅକ୍ଷରରୂପ ମୁଖା;
Keywords[pa]=ਫੋਂਟ;ਫੋਂਟਫੇਸ;
Keywords[pl]=czcionki;fonty;pismo;znaki;
Keywords[pt]=fontes;tipos de fonte;
Keywords[pt_BR]=fontes;tipo de fonte;tipo da fonte;
Keywords[ro]=fonts;fontface;fonturi;
Keywords[ru]=шрифты;fontface;
Keywords[sk]=písmo;písma;rodina;
Keywords[sl]=pisave;fonti;oblika zapisa;zapis;
Keywords[sr]=слова;словни ликови;писма;
Keywords[sr@latin]=slova;slovni likovi;pisma;
Keywords[sv]=typsnitt;teckensnitt;
Keywords[ta]=எழுத்துரு;எழுத்துமுகம்;
Keywords[te]=fonts;fontface;
Keywords[tg]=шрифт;намуди шрифт;
Keywords[th]=แบบอักษร;ฟอนต์;
Keywords[tr]=yazı tipleri; yazı tipi ailesi;
Keywords[ug]=خەت نۇسخا;فونت;fonts;fontface;
Keywords[uk]=шрифт;текст;
Keywords[uz@cyrillic]=шрифтлар;
Keywords[vi]=fonts;phông;phong;chữ;chư;chu;fontface;
Keywords[zh_CN]=fonts;fontface;字体;
Keywords[zh_HK]=fonts;fontface;字型;字形;字樣;字體;
Keywords[zh_TW]=fonts;fontface;字型;字形;字樣;字體;
Icon=preferences-desktop-font
Exec=gnome-font-viewer %u
Terminal=false
Type=Application
DBusActivatable=true
StartupNotify=true
Categories=GTK;GNOME;Utility;X-GNOME-Utilities;
MimeType=application/x-font-ttf;application/x-font-pcf;application/x-font-type1;application/x-font-otf;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-font-viewer
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-OtherBinaries=gnome-thumbnail-font
X-GNOME-Bugzilla-Version=3.16.2
X-Ubuntu-Gettext-Domain=gnome-font-viewer
